.file-item-name-field {
  width: 100%
}

.bottom-spacer {
  height: 20px
}

.file-name{
  font-size: 10pt;
}

.progress {
  font-size: 10pt;
}

.error-message {
  width: 100%;
  height: auto;
  font-size: 10pt;
  color: #ff019e;
}
